<h1>Editing exercise type</h1>

<%= render "form", exercise_type: @exercise_type %>

<br>

<div>
  <%= link_to "Show this exercise type", @exercise_type %> |
  <%= link_to "Back to exercise types", exercise_types_path %>
</div>
