<p style="color: green"><%= notice %></p>

<h1>Exercise types</h1>

<div id="exercise_types">
  <% @exercise_types.each do |exercise_type| %>
    <%= render exercise_type %>
    <p>
      <%= link_to "Show this exercise type", exercise_type %>
    </p>
  <% end %>
</div>

<%= link_to "New exercise type", new_exercise_type_path %>
