<div id="<%= dom_id train_plan %>">
  <p>
    <strong>Train type:</strong>
    <%= train_plan.train_type_id %>
  </p>

  <p>
    <strong>Exercise type:</strong>
    <%= train_plan.exercise_type_id %>
  </p>

  <p>
    <strong>Sequence number:</strong>
    <%= train_plan.sequence_number %>
  </p>

</div>
