<h1>Editing train type</h1>

<%= render "form", train_type: @train_type %>

<br>

<div>
  <%= link_to "Show this train type", @train_type %> |
  <%= link_to "Back to train types", train_types_path %>
</div>
